@import '../../styles/variables.scss';

.TopBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    background: $secondary;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    
    .MenuItem {
        position: relative;
        color: white;
        background: $secondary;
        
        label {
            padding: 8px 16px;
        }

        label:hover {
            background-color: $primary;
        }

        .SubMenu {
            position: absolute;
            width: fit-content;
            top: calc(110% + 8px);
            left: 0;
            height: 0;
            background: $secondary;
            transition: .5s height ease-in-out;
            overflow: hidden;
            
            .SubMenuItem {
                min-width: 100%;
                outline: none;
                color: white;
                border: none;
                background: transparent;
                padding: 8px 16px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                white-space: nowrap;
                
                .Label {
                    padding-right: 16px;
                }
                
                .Alt {
                    color: rgb(82, 82, 82);
                }
                
            }
            
            .SubMenuItem:hover {
                background-color: $primary;
            }

            .SubMenuItem.Disabled {
                background-color: grey;
                cursor: not-allowed;
            }

            .SubMenuFileBrowserItem {
                position: relative;
                height: 40px;
                width: 100%;
                
                label {
                    box-sizing: content-box;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    text-align: left;
                    z-index: 1000;
                    pointer-events: none;
                }

                input[type="file"] {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 100;
                }

                input[type="file"]:hover ~ label {
                    background-color: $primary;
                }
            }

            
            input[type="file"]:hover  {
                background-color: $primary;
            }

        }
        
        .SubMenu.Open {
            height: auto;
            border: 1px solid $primary;
        }

    }

}