.CanvasController {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .Buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
