.Layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Layout .Tools {
    max-width: 200px;
}

.Layout .Main {
    display: flex;
    flex-direction: column;
}

.Layout .Layers {
    max-width: 200px;
}

