@import '../../../styles/variables.scss';

.ExportModal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;


    label, select, button, input {
        height: 32px;
        padding: 8px;
        margin: 0 4px;
    }

    
}

.Close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 16px;

    button {

        padding: 8px;
        background: $primary;
        color: white;
        outline: none;
        border: 1px solid transparent;
        font-size: 16px;
        cursor: pointer;
        
        &:hover {
            border: 1px solid $accent;
        }
    }
}